/*
	This holds the styles for Numpad and variable selector dialog
*/
#NumpadFunctionBtns
{
	width:25%;
	float:right;
}

#NumpadFunctionBtns ul
{
	width:25%;
	list-style:none;
	display:block;
	text-align:left;
	position:absolute;
	right: 10px;
	margin:0;
	padding:0;
	top:55px;
}

#NumpadFunctionBtns ul li
{
	margin:0;
	width:100%;
	display:inline-block;
	padding:0;
}

#NumpadFunctionBtns ul li input
{
	
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
} 


#NumpadFunctionBtns ul li input:hover
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;

}

#NumpadFunctionBtns ul li input:active
{
	position:relative;
	top:1px;

}

.GeneralLabel
{
	position:absolute;
	bottom:10px;
}
#NumpadDiv
{
	width:100%;
	position:absolute;
	left:0;
	float:left;
	top:55px;
} 

#NumpadDiv ul
{
	width:75%;
	margin:0px;
	padding:0px;
	list-style:none;
	display:block;
	text-align:center;
} 

#NumpadDiv ul li
{
	width:25%;
	display:inline-block;
}
#NumpadDiv ul li input.Numpad
{
	width:100%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;} 

#NumpadDiv ul li.Numpad0
{
	width:75%;
	padding:3% 0;
	margin:1%;
}
#NumpadDiv ul li input.Numpad0
{
	width:75%;
	padding:3% 0;
	margin:1%;
} 
#NumpadDiv ul li input.Numpad:hover 
{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}
#NumpadDiv ul li input.Numpad:active 
{
	position:relative;
	top:1px;
}

.InputValue
{
	width:98%;
	text-align:right;
}




#VarsSelectHolder
{
	position:absolute;
	top:10px;
	left:10px;
	width:55%;
}

#VarsSelectHolder select
{
	width:100%;
}

#VarButtons
{
	position:absolute;
	right:10px;
	width:40%;
	height:100px;
}
#VarButtons ul
{
	list-style:none;
}

.VarBtn
{
	width:100%;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}

